body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
  margin: 0 auto;
}

.image-upload {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 20px;
}

#imageInput {
  margin-right: 10px;
}

#predictButton {
  padding: 5px 10px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
}

.prediction-results {
  width: 100%;
  text-align: left;
}

#predictedCategory {
  font-weight: bold;
  margin-bottom: 10px;
}

#causesList {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
